.product-listing .apple-watch-title {
    width: fit-content;
    position: relative;
    padding-bottom: 8px;
}

.product-listing .apple-watch-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 1px;
    background-color: #3D3737;
}

.product-listing .product {
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.16);
}


.product-listing .color-options{
    padding: 4px 8px;
    border-radius: 100px;
    background-color: #EDEDEDED;
}

.product-listing .color-options .color {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    cursor: pointer;
}

.product-listing .color-options  .selected {
    border: 2px solid #1890ff; 

}

.product-listing .color-options #white {
    background-color: white;
    margin-right: 4px;
}

.product-listing .color-options #green {
    background-color: #304B23;
    margin-right: 4px;

}
.product-listing .color-options #red {
    background-color: #AE0403;
    margin-right: 4px;

}
.product-listing .color-options #black {
    background-color: #3D3737;
    margin-right: 4px;

}


.product-listing .pagination-container{
    padding: 16px 0px;
}